@font-face {
  font-family: 'Menlo for Powerline';
  font-style: normal;
  font-weight: 400;
  src: local('Menlo for Powerline), local('Menlo for Powerline'), url(https://rawgit.com/sh3lld00m/powerline-web-fonts/master/Menlo%20for%20Powerline.woff2) format('woff2');
}
